@font-face {
    font-family: Gilroy;
    font-weight: bold;
    src: url("./fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: Gilroy;
    font-weight: normal;
    src: url("./fonts/Gilroy-Light.otf") format("opentype");
}

body {
	margin: 0;
	padding: 0;
	background: #0B1D26 url('../images/bg.png');
	background-size: contain;
	background-repeat: no-repeat;
}


.slider {
	position: fixed;
	right: 80px;
	top: 30%;
	z-index: 1;
}

.slider ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 77px;
}


.slider ul li {
	padding: 20px 0;
	padding-right: 32px;
	text-align: right;
	border-right: 3px solid rgba(255, 255, 255, .5);
}

.slider ul li.active {
	border-right: 3px solid rgb(255, 255, 255);
}

.slider ul li a {
	font-family: Gilroy;
	font-size: 18px;
	line-height: 22px;
	color: blue;
	text-decoration: none;
}

.follow {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	flex-direction: row;
	transform: rotate(90deg);
	position: fixed;
	top: 40%;
}

.follow img {
	margin: 0 15px;
	margin-right: 0;
}

#main {
	height: 100vh;
}

.main_content {
	height: calc(100vh - 96px);
	display: flex;
	align-items: center;
	justify-content: center;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 58px 80px 0 80px;
}

header a {
	color: #fff;
	text-decoration: none;
	font-family: 'Khula', sans-serif;
}

header a:hover {
	color: #FBD784;
	transition: color 0.5s;
}

header .logo {
	font-size: 32px;
	line-height: 38px;
}

header ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

header ul li a {
	margin: 0 20px;
	font-size: 18px;
	line-height: 22px;
}

header .account {
	font-size: 17px;
	line-height: 21px;
	display: flex;
	align-items: center;
}

header .account img {
	margin-right: 10px;
}

.main_title {

}

.sub_title {
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #FBD784;
}

.sub_title::before {
	content: '';
	display: inline-block;
	width: 72px;
	height: 2px;
	background: #FBD784;
	margin-bottom: 4px;
	margin-right: 32px;
}

.main_content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main_title h1 {
	font-weight: 600;
	font-size: 88px;
	line-height: 100px;
	text-transform: capitalize;
	color: #FFFFFF;
	margin: 0;
}

.main_title a {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}

.go_down {
	display: flex;
	align-items: center;
}

.go_down img {
	margin-left: 16px;
}

#content {
	width: 1482px;
	margin: 0 auto;
	margin-top: 420px;
}

#content .post {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 200px;
	position: relative;
	width: 100%;
}

#content .number {
	position: absolute;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 240px;
	line-height: 240px;
	color: #fff;
	opacity: 0.1;
	top: -81px;
	left: 0;
}

#content .post-reverse .number {
	top: -81px;
	left: 45%;
}

#content .post-reverse {
	flex-direction: row-reverse;
}

#content .post-left {
	width: 632px;
}

#content .post-left h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 77px;
	color: #FFFFFF;
	font-family: 'Khula', sans-serif;
}

#content .post-left .post-text {
	font-weight: bold;
	font-size: 18px;
	line-height: 32px;
	color: #FFFFFF;
}

#content .post-left a {
	font-size: 18px;
	line-height: 22px;
	color: #FBD784;
	text-decoration: none;
}

#content .post-right img {
	width: 566px;
}

.arrow_left {
	display: flex;
	align-items: center;
}

.arrow_left img {
	margin-left: 16px;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: 'Gilroy';
	margin-bottom: 120px;
}

footer .left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer .left a {
	font-size: 32px;
	line-height: 38px;
	letter-spacing: 0.01em;
	text-transform: capitalize;
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Khula', sans-serif;
}

footer .left p {
	font-weight: bold;
	font-size: 18px;
	line-height: 32px;
	color: #FFFFFF;
}

footer .left .terms {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 32px;
	color: #FFFFFF;
	opacity: 0.5;
}

footer .middle .title, footer .right .title {
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	color: #FBD784;
}

footer .middle ul, footer .right ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}


footer .middle ul li a, footer .right ul li a {
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	margin: 8px 0;
	font-family: Gilroy;
}